<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crypto.croytowallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CroytoWallet"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Payout_verification"
            android:theme="@style/Theme.CroytoWallet.NoActionBar">

        </activity>
        <activity
            android:name=".Activity.Ticket"
            android:theme="@style/Theme.CroytoWallet.NoActionBar"></activity>
        <activity
            android:name=".Activity.Add_Ticket"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.Contact_details"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Coin_histroy"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.knowlege_Base"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.Add_Verification1"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.GmailVerfiyOtp"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Splash_Screen"
            android:theme="@style/Theme.CroytoWallet.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoinTransfer.Pay_Coin"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".CoinTransfer.CoinScan"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".CoinTransfer.Received_Coin"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.Graph_layout"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity android:name=".Activity.Add_Currency" />
        <activity
            android:name=".Security.EnterPasscode"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.Two_FA"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".TransactionHistory.Transaction_history"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".TransactionHistory.Full_Transaction_History"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Payment.Enter_transaction_pin"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Payment.Complate_payment"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Payment.Top_up_Money"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Payment.Pay_money"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.WalletBalance"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.WalletReceive"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.WalletScan"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".TransactionPin.EnterConfirmMnemonic"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".TransactionPin.ShowMnemonic"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".TransactionPin.TransactionPin"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.SignUp"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.Add_Verification"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.Google_auth"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.sucessfullverification"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".signup.Referral_code"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".login.Change_Password"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".login.OTP_Activity"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".login.ForgetPassword"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".login.Login"
            android:configChanges="uiMode"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.Setting"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.Support"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".Activity.Security"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.CroytoWallet.NoActionBar" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razor_api_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>